<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Gran Via</title>
	<link rel="stylesheet" href="./stylesheets/main.css">
	<link rel="stylesheet" href="./stylesheets/media.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">	
</head>
<body>
	<section id="main-container">
		<header id="main-header">
			<div class="container flex flex-between flex-middle">
				<h1>Gran Via</h1>
				<p id="burger-button">
					<span class="fa fa-bars"></span>
				</p>
			</div>
		</header>

		<section class="container table-container" id="table1">
			<header class="table-container-header flex flex-between flex-middle">
				<h2 class="table-container-header-title uppercase">Hoja de relacion en blanco</h2>
				<div class="table-container-header-actions flex ">
					<button class="btn btn-dark">Guardar relaciones</button>
				</div>
				
			</header>
			<article class="table flex">
				<section class="table-left">
					<header class="table-left-header">
						<input type="text" class="table-left-header-item" placeholder="MARCA">
					</header>
					<article class="table-left-info flex">
						<div class="table-left-info-item">
							<p class="uppercase">
								<span>Modelo</span>
							</p>
						</div>
						<div class="table-left-info-item">
							<p class="uppercase">
								<span>Sku</span>
							</p>
						</div>
						<div class="table-left-info-item">
							<p class="uppercase">
								<span>Variedad</span>
							</p>
						</div>
						<div class="table-left-info-item">
							<p class="uppercase">
								<span>Total pares</span>
							</p>
						</div>
					</article>

					<article class="flex" id="info-data" v-for="item in items">
						<div class="table-left-info-item">
							<p class="uppercase">
								<input type="text">
							</p>
						</div>
						<div class="table-left-info-item">
							<p class="uppercase">
								<input type="text">
							</p>
						</div>
						<div class="table-left-info-item">
							<p class="uppercase">
								<input type="text">
							</p>
						</div>
						<div class="table-left-info-item">
							<p class="uppercase">
								<input type="text">
							</p>
						</div>
					</article>
				</section>

				<section class="table-right">
					<header class="table-right-header flex flex-middle">
						<h4 class="table-right-header-title uppercase">Tallas de:</h4>
						<div class="mySelect">
							<select name="" id="" class="btn btn-gray">
								<option value="">Tipos</option>
								<option value="">Calzado caballero</option>
								<option value="">Ross</option>
								<option value="">Sumatti</option>
								<option value="">Alegri</option>
							</select>
							<span class="mySelect-icon fa fa-chevron-down"></span>
						</div>
					</header>
					<article class="table-right-sizes">
						<div class="table-right-sizes-title">
							<span class="fa fa-chevron-left" v-on:click="moveLeft"></span>
							<h3 class="table-right-sizes-title-item uppercase">Tallas</h3>
							<span class="fa fa-chevron-right" v-on:click="moveRight"></span>
						</div>
						<section class="rows">
							<article class="sizes-list" v-bind:style="{ right: right + 'px' }">
								<div class="sizes-list-item">
									<p>
										<span>4</span>
										<span>-</span>
									</p>
								</div>
								<div class="sizes-list-item">
									<p>
										<span>5</span>
										<span>-</span>
									</p>
								</div>
								<div class="sizes-list-item">
									<p>
										<span>6</span>
										<span>-</span>
									</p>
								</div>
								<div class="sizes-list-item">
									<p>
										<span>7</span>
										<span>-</span>
									</p>
								</div>
								<div class="sizes-list-item">
									<p>
										<span>8</span>
										<span>-</span>
									</p>
								</div>
								<div class="sizes-list-item">
									<p>
										<span>9</span>
										<span>-</span>
									</p>
								</div>
								<div class="sizes-list-item">
									<p>
										<span>10</span>
										<span>-</span>
									</p>
								</div>
								<div class="sizes-list-item">
									<p>
										<span>11</span>
										<span>-</span>
									</p>
								</div>
								<div class="sizes-list-item">
									<p>
										<span>12</span>
										<span>-</span>
									</p>
								</div>
								<div class="sizes-list-item">
									<p>
										<span>13</span>
										<span>-</span>
									</p>
								</div>
							</article>

							<article class="sizes" id="sizes-data" v-for="item in items">
								<section class="sizes-list" v-bind:style="{ right: right + 'px' }">
									<div class="sizes-list-item">
										<p>
											<span>
												<input type="text">
											</span>
											<span>
												<input type="text">
											</span>
										</p>
									</div>
									<div class="sizes-list-item">
										<p>
											<span>
												<input type="text">
											</span>
											<span>
												<input type="text">
											</span>
										</p>
									</div>
									<div class="sizes-list-item">
										<p>
											<span>
												<input type="text">
											</span>
											<span>
												<input type="text">
											</span>
										</p>
									</div>
									<div class="sizes-list-item">
										<p>
											<span>
												<input type="text">
											</span>
											<span>
												<input type="text">
											</span>
										</p>
									</div>
									<div class="sizes-list-item">
										<p>
											<span>
												<input type="text">
											</span>
											<span>
												<input type="text">
											</span>
										</p>
									</div>
									<div class="sizes-list-item">
										<p>
											<span>
												<input type="text">
											</span>
											<span>
												<input type="text">
											</span>
										</p>
									</div>
									<div class="sizes-list-item">
										<p>
											<span>
												<input type="text">
											</span>
											<span>
												<input type="text">
											</span>
										</p>
									</div>
									<div class="sizes-list-item">
										<p>
											<span>
												<input type="text">
											</span>
											<span>
												<input type="text">
											</span>
										</p>
									</div>
									<div class="sizes-list-item">
										<p>
											<span>
												<input type="text">
											</span>
											<span>
												<input type="text">
											</span>
										</p>
									</div>
									<div class="sizes-list-item">
										<p>
											<span>
												<input type="text">
											</span>
											<span>
												<input type="text">
											</span>
										</p>
									</div>
								</section>
							</article>
						</section>
					</article>
				</section>
			</article>
			<article class="full">
				<div class="form-actions">
					<div class="flex flex-between">
						<button class="btn" id="addButton" v-on:click="addRow">
							<span class="fa fa-plus"></span>
						</button>
						<button class="btn btn-dark">Guardar relaciones</button>
					</div>
					<div class="flex flex-center margin20">
						<button class="btn btn-blue">Nueva Tabla/Marca</button>
					</div>
				</div>
			</article>
		</section>

		<section class="container table-container" id="table2">
			<header class="table-container-header flex flex-between flex-middle">
				<h2 class="table-container-header-title uppercase">Productos Capturados</h2>
				<div class="table-container-header-actions flex flex-middle">
					<div class="mySelect margin20">
						<select name="" id="" class="btn btn-dark">
							<option value="">13-ENE-2016</option>
							<option value="">04-ENE-2016</option>
							<option value="">27-DIC-2015</option>
							<option value="">10-NOV-2015</option>
							<option value="">OMITIR--FECHAS</option>
						</select>
						<span class="mySelect-icon fa fa-chevron-down color-gray"></span>
					</div>
					<div class="mySearch">
						<input type="text" placeholder="Buscar">
						<span class="fa fa-search mySearch-icon"></span>
					</div>
				</div>
				
			</header>
			<article class="table flex">
				<section class="table-left">
					<header class="table-left-header">
						<p class="table-left-header-item margin0 uppercase">Salvatore Fragosso</p>
					</header>
					<article class="table-left-info flex">
						<div class="table-left-info-item">
							<p class="uppercase">
								<span>Modelo</span>
							</p>
						</div>
						<div class="table-left-info-item">
							<p class="uppercase">
								<span>Sku</span>
							</p>
						</div>
						<div class="table-left-info-item">
							<p class="uppercase">
								<span>Variedad</span>
							</p>
						</div>
						<div class="table-left-info-item">
							<p class="uppercase">
								<span>Total pares</span>
							</p>
						</div>
					</article>

					<article class="flex" id="info-data" v-for="item in items">
						<div class="table-left-info-item">
							<p class="uppercase">
								{{item.modelo}}
							</p>
						</div>
						<div class="table-left-info-item">
							<p class="uppercase">
								{{item.sku}}
							</p>
						</div>
						<div class="table-left-info-item">
							<p class="uppercase">
								{{item.variedad}}
							</p>
						</div>
						<div class="table-left-info-item">
							<p class="uppercase">
								{{item.stock}}
							</p>
						</div>
					</article>
				</section>

				<section class="table-right">
					<header class="table-right-header flex flex-middle">
						<h4 class="table-right-header-title uppercase">Tallas de:</h4>
						<div class="mySelect">
							<span>Calzado Caballero</span>
						</div>
					</header>
					<article class="table-right-sizes">
						<div class="table-right-sizes-title">
							<span class="fa fa-chevron-left" v-on:click="moveLeft"></span>
							<h3 class="table-right-sizes-title-item uppercase">Tallas</h3>
							<span class="fa fa-chevron-right" v-on:click="moveRight"></span>
						</div>
						<section class="rows">
							<article class="sizes-list" v-bind:style="{ right: right + 'px' }">
								<div class="sizes-list-item">
									<p>
										<span>4</span>
										<span>-</span>
									</p>
								</div>
								<div class="sizes-list-item">
									<p>
										<span>5</span>
										<span>-</span>
									</p>
								</div>
								<div class="sizes-list-item">
									<p>
										<span>6</span>
										<span>-</span>
									</p>
								</div>
								<div class="sizes-list-item">
									<p>
										<span>7</span>
										<span>-</span>
									</p>
								</div>
								<div class="sizes-list-item">
									<p>
										<span>8</span>
										<span>-</span>
									</p>
								</div>
								<div class="sizes-list-item">
									<p>
										<span>9</span>
										<span>-</span>
									</p>
								</div>
								<div class="sizes-list-item">
									<p>
										<span>10</span>
										<span>-</span>
									</p>
								</div>
								<div class="sizes-list-item">
									<p>
										<span>11</span>
										<span>-</span>
									</p>
								</div>
								<div class="sizes-list-item">
									<p>
										<span>12</span>
										<span>-</span>
									</p>
								</div>
								<div class="sizes-list-item">
									<p>
										<span>13</span>
										<span>-</span>
									</p>
								</div>
							</article>

							<article class="sizes" id="sizes-data" v-for="item in items">
								<section class="sizes-list" v-bind:style="{ right: right + 'px' }">
									<div class="sizes-list-item">
										<p>
											<span>
												4
											</span>
											<span>
												4
											</span>
										</p>
									</div>
									<div class="sizes-list-item">
										<p>
											<span>
												4
											</span>
											<span>
												4
											</span>
										</p>
									</div>
									<div class="sizes-list-item">
										<p>
											<span>
												4
											</span>
											<span>
												4
											</span>
										</p>
									</div>
									<div class="sizes-list-item">
										<p>
											<span>
												4
											</span>
											<span>
												4
											</span>
										</p>
									</div>
									<div class="sizes-list-item">
										<p>
											<span>
												4
											</span>
											<span>
												4
											</span>
										</p>
									</div>
									<div class="sizes-list-item">
										<p>
											<span>
												4
											</span>
											<span>
												4
											</span>
										</p>
									</div>
									<div class="sizes-list-item">
										<p>
											<span>
												4
											</span>
											<span>
												4
											</span>
										</p>
									</div>
									<div class="sizes-list-item">
										<p>
											<span>
												4
											</span>
											<span>
												4
											</span>
										</p>
									</div>
									<div class="sizes-list-item">
										<p>
											<span>
												4
											</span>
											<span>
												4
											</span>
										</p>
									</div>
									<div class="sizes-list-item">
										<p>
											<span>
												4
											</span>
											<span>
												4
											</span>
										</p>
									</div>
								</section>
							</article>
						</section>
					</article>
				</section>
			</article>
		</section>
	</section>

	<script src="./scripts/app.js"></script>
</body>
</html>