body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: arial;
}
#main-header {
  background: #000;
  color: #fff;
}
#main-container {
  font-size: 1em;
}
.table {
  margin: 0;
}
.table-left {
  width: 250px;
}
.table-left-header {
  background: #f4f3f3;
  width: 99.5%;
  height: 2.5em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-bottom: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
}
.table-left-header-input {
  width: 90%;
  height: 100%;
  height: 20px;
}
.info {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #f4f3f3;
}
.info-item {
  width: 70px;
  border-right: 1px solid #d3d3d3;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.info-item p {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  font-size: 0.7em;
  width: 100%;
}
.info-item:last-child {
  width: 50px;
}
#info-data {
  width: 100%;
  height: 2em;
  border-bottom: 1px solid #808080;
}
#info-data:last-child {
  border-bottom: 0;
}
#info-data .info-item {
  border-right: 1px solid #d3d3d3;
}
#info-data .info-item p {
  background: #f4f3f3;
}
#info-data .info-item p input {
  border: 1px solid #808080;
  width: 80%;
  height: 60%;
  border: 1px solid #808080;
}
#info-data .info-item:last-child {
  width: 3.2em;
}
.right {
  margin: 0;
  width: 100%;
  overflow: hidden;
}
.right .header {
  margin: 0;
  background: #f4f3f3;
  width: 100%;
  height: 2.5em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  border-top: 0;
  border-left: 0;
}
.right .header-title {
  display: none;
  margin: 0;
}
.right .header-select {
  position: relative;
}
.right .header-select select {
  background: #d8d8d8;
}
.right .header-select-icon {
  position: absolute;
  top: 6px;
  right: 5px;
}
.right #sizes-data {
  height: 2em !important;
  border-bottom: 1px solid #808080;
}
.right #sizes-data:last-child {
  border-bottom: 0;
}
.right #sizes-data .sizes-list {
  height: 100% !important;
}
.right #sizes-data .sizes-list p {
  background: #f4f3f3;
}
.right #sizes-data .sizes-list input {
  width: 70%;
  height: 1.7em;
  border: 1px solid #808080;
  position: relative;
  top: 1px;
}
.right .sizes {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.right .sizes-title {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid #f4f3f3;
}
.right .sizes-title-item {
  margin: 0 20px;
}
.right .sizes-title span.fa {
  cursor: pointer;
}
.right .sizes .secton {
  margin: 0;
  overflow: hidden;
  max-width: 800px;
  padding-top: 1px;
}
.right .sizes .secton .sizes-list {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  height: 30px;
  position: relative;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.right .sizes .secton .sizes-list:last-child {
  border-bottom: 0px solid #808080;
}
.right .sizes .secton .sizes-list-item {
  margin: 0;
  width: 100px;
  height: 100%;
  border-bottom: 1px solid #808080;
}
.right .sizes .secton .sizes-list-item p {
  margin: 0;
  width: 100px;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #f4f3f3;
}
.right .sizes .secton .sizes-list-item p span {
  margin: 0;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-right: 1px solid #808080;
}
.right .sizes .secton .sizes-list-item p input {
  width: 70%;
  height: 60%;
  border: 1px solid #808080;
}
.right .sizes .secton .sizes-list-item:last-child span:last-child {
  border: 0;
}
.form {
  margin: 0;
}
.form-actions {
  margin: 40px auto;
}
input,
textarea,
select,
button {
  outline: 0;
}
.absolute {
  position: absolute;
  left: 0;
  top: 0;
}
.relative {
  position: relative;
}
.container {
  max-width: 1000px;
  padding: 0 1em;
  margin-left: auto;
  margin-right: auto;
}
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.flex-between {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-middle {
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.flex-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.flex-column {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.uppercase {
  text-transform: uppercase;
}
.border {
  border: 1px solid #d3d3d3;
}
.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 8px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid transparent;
  cursor: pointer;
}
.btn-dark {
  background: #000;
  color: #fff;
}
.btn-blue {
  background: #029ded;
  color: #fff;
}
.border-red {
  border: 1px solid #f00;
}
.hide {
  display: none;
}
.cell {
  padding: 3px;
  background: #f4f3f3;
  max-width: 80px;
}
.margin0 {
  margin: 0;
}
.text-center {
  text-align: center;
}
