
@media screen and (min-width: 400px){
	.table-right-sizes-title-item{
		margin: 0 20px !important;
	}
}

@media screen and (min-width: 648px){
	.container{
		padding: 0 1.5em;
	}
}

@media screen and (min-width: 768px){
	.table-right-header{
		justify-content:flex-start;
	}
	.table-right-header-title{
		display: inline-block;
		margin: 0 2px 0 20px;
	}
}
@media screen and (min-width: 1100px){
	.table-left{
		
		width: 300px;
	}

	.sizes-list-item p{
		width: 100% !important;
	}
	.table-right-sizes-title span.fa{
		display:  none !important;
	}
	
}
